* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    min-height: 100vh;
    border-bottom: 20px solid rgb(19, 177, 48);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    right: -80px;
    width: 80px;
}

.pipe.play {
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.dead {
    transition: bottom 0.5s ease 0.5s;
    bottom: -120px !important;
}

.clouds {
    position: absolute;
    width: 550px;
    right: -550px;
}

.clouds.play {
    animation: clouds-animation 20s infinite linear;
}

.actions {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions_btn {
    padding: 12px 20px;
    border: none;
    background-color: #F6406E;
    color: #FFF;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 2.4em;
    text-transform: uppercase;
}

.actions_btn:active {
    transform: scale(0.9);
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }

}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }

}